In [23]:
import pandas as pd

In [6]:
data = pd.read_csv('meat_consumption_worldwide.csv')

In [7]:
data

      LOCATION SUBJECT     MEASURE  TIME      Value
0          AUS    BEEF      KG_CAP  1991  27.721815
1          AUS    BEEF      KG_CAP  1992  26.199591
2          AUS    BEEF      KG_CAP  1993  26.169094
3          AUS    BEEF      KG_CAP  1994  25.456134
4          AUS    BEEF      KG_CAP  1995  25.340226
...        ...     ...         ...   ...        ...
13755      MYS   SHEEP  THND_TONNE  2022  44.154151
13756      MYS   SHEEP  THND_TONNE  2023  44.897588
13757      MYS   SHEEP  THND_TONNE  2024  45.612107
13758      MYS   SHEEP  THND_TONNE  2025  46.325312
13759      MYS   SHEEP  THND_TONNE  2026  47.047207

[13760 rows x 5 columns]